.main-div {
    transition: width, 500ms;
    overflow: auto;
    height: calc(100vh);
    padding: 6px 0px;
    width: 100% !important;
  }
  .css-13cymwt-control{
    border: 2px solid #e7e7e7 !important;
  }
