/* Default styling for checkbox labels */
.check-box-input-label {
  font-size: 12px; /* Set font size to 12px */
  user-select: none; /* Prevent the user from selecting the text */
  cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
  width: 100%; /* Ensure the label takes up the full width of its container */
  display: inline; /* Display the label as an inline element */
  margin-left: 4px; /* Add left margin to create space between the checkbox and the label */
}

/* Specific styling for checkbox labels within a .defaultpaymentmethod container */
.defaultpaymentmethod .check-box-input-label {
  font-size: 13px; /* Set font size to 13px (slightly larger than the default) */
  width: 300px; /* Set the width to 300px */
  font-weight: 500; /* Set font weight to 500 (semi-bold) */
  color: #31454C; /* Set text color to a dark blueish shade */
  margin-left: 8px; /* Increase the left margin to create more space from the checkbox */
}
