.input {
  background-color: white;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}

.input_addon_icon_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: gray;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  width: 18px;
}

.input_addon_icon_right {
  line-height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  color: gray;
  cursor: pointer;
  height: 25px;
  font-size: 18px;
  width: 18px;
}

.input_addon_icon:hover {
  color: black;
}

.has_right_add_on {
  padding-right: 30px !important;
}

.has_left_add_on {
  padding-left: 30px !important;
}

.info-feedback-class {
  font-size: 14px;
}

.error-feedback-class {
  color: #a91928;

  font-size: 14px;
}

.success-feedback-class {
  color: green;

  font-size: 14px;
}


.form-control {
  border-radius: 8px;
}

.input-background-color-default {
  background-color: #f5f5f5;
}
.input-with-add-on-default {
  height: 40px;
}

.date-time-input-is-not-valid > input {
  border-color: #a91928;
}

.has_left_add_on_date_time > input {
  padding-left: 30px !important;
}
.input_addon_icon_left_date_time_calendar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  color: gray;
  font-size: 18px;
  height: 18px;
  width: 18px;
}
.input_addon_icon_left_date_time_calendar * {
  fill: grey !important;
}
